---
import { formatBlogPosts, formatDate } from "../scripts/index";
const posts = await Astro.glob("./blog/*.md");
const formattedPosts = formatBlogPosts(posts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: 3,
});
---

<section>
  <h2>Posts mas recientes</h2>
  <ul>
    {
      formattedPosts.slice(0, 3).map((info) => {
        return (
          <li class="card">
            <a href={info.url}>
              <figure>
                <img
                  src={info.frontmatter.image ? info.frontmatter.image.src : ""}
                  alt=""
                />
              </figure>
              <p class="categoryandDateContainer">
                {formatDate(info.frontmatter.date)} <span class="category">{info.frontmatter.category}</span>
              </p>
              <h4>{info.frontmatter.title}</h4>
              <p>{info.frontmatter.description}</p>
              <span />
            </a>
          </li>
        );
      })
    }
  </ul>
  <a class="containedButton" href="/blog">Ver mas</a>
</section>

<style>
  section {
    margin: 0 0 64px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
  }

  ul {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    list-style: none;
  }

  .card {
    width: max.width: 290px;
  }

  .card a {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card a figure img {
    max-width: 290px;
    border-radius: 8px;
  }

  .categoryandDateContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }

  .category {
    display: inline-block;
    padding: 8px 16px;
    background-color: #f8f8f8;
    border-radius: 32px;
  }

</style>
