---
import { formatBlogPosts, formatDate } from "../../scripts/index";
const posts = await Astro.glob("../blog/*.md");
const formattedPosts = formatBlogPosts(posts, {
  filterOutDrafts: true,
  filterOutFuturePosts: true,
  sortByDate: true,
  limit: 3,
  categoryFilter: "EVENT"
});
---

<section>
  <h2>Eventos recientes</h2>
  <ul>
    {
      formattedPosts.slice(0, 3).map((info) => {
        return (
          <li class="card">
            <a href={info.url}>
              <figure>
                <img
                  src={info.frontmatter.image ? info.frontmatter.image.src : ""}
                  alt=""
                />
              </figure>
              <p class="categoryandDateContainer">
                {formatDate(info.frontmatter.date)} <span class="tag">{info.frontmatter.category}</span>
              </p>
              <h4>{info.frontmatter.title}</h4>
              <p>{info.frontmatter.description}</p>
              <span />
            </a>
          </li>
        );
      })
    }
  </ul>
</section>

<style>
  section { 
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  ul {
    display: flex;
    gap: 32px;
    flex-wrap: wrap;
    list-style: none;
  }

  .card {
    width: max.width: 298px;
  }

  .card a {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .card a figure img {
    max-width: 298px;
    border-radius: 8px;
  }

  .categoryandDateContainer {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 12px;
  }


  @media only screen and (max-width: 768px) {
    .card, .card a figure img {
      max-width: 100%;
    }
  }

</style>
